@media only screen and (min-width: 800pt) and (orientation: landscape) {
    .discord, .cutscene, .pocket, .rainbow {
        width: 500pt;
        padding-left: 125pt;
        padding-right: 125pt;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 750pt;
    }
    .announcement {
        padding-left: 36pt;
        padding-right: 30pt;
    }
    .nelson, .chat {
        padding-left: 2.5em;
        padding-right: 1em;
    }
}
@media only screen and (max-width: 800pt) and (min-width: 650pt) and (orientation: landscape) {
    .discord, .cutscene, .pocket {
        width: 425pt;
        padding-left: 100pt;
        padding-right: 100pt;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 625pt;
    }
    .announcement {
        padding-left: 24pt;
        padding-right: 18pt;
    }
    .nelson, .chat {
        padding-left: 2.5em;
        padding-right: 1em;
    }
}
@media only screen and (max-width: 650pt) and (min-width: 500pt) and (orientation: landscape) {
    .discord, .cutscene, .pocket {
        width: 300pt;
        padding-left: 75pt;
        padding-right: 75pt;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 450pt;
    }
    .announcement {
        padding-left: 21pt;
        padding-right: 15pt;
    }
    .nelson, .chat {
        padding-left: 2.5em;
        padding-right: 1em;
    }
}
@media only screen and (max-width: 500pt) and (min-width: 400pt) and (orientation: landscape) {
    .discord, .cutscene, .pocket {
        width: calc(100% - 100pt);
        padding-left: 50pt;
        padding-right: 50pt;
    }
    .nelson {
        padding-left: 2.5em;
        padding-right: 1em;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 100%;
    }
    .announcement {
        padding-left: 18pt;
        padding-right: 12pt;
    }
    .nelson, .chat {
        padding-left: 2.5em;
        padding-right: 1em;
    }
}
@media only screen and (max-width: 400pt) and (orientation: landscape) {
    .discord, .cutscene, .pocket {
        width: calc(100vw - 20pt);
        padding-left: 10pt;
        padding-right: 10pt;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 100%;
    }
    .announcement {
        padding-left: 18pt;
        padding-right: 12pt;
    }
    .nelson, .chat {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media only screen and (orientation: portrait) {
    .discord, .cutscene, .pocket {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .cutscene-background-start, .cutscene-background-stop, .cutscene-start, .cutscene-stop, .pocket-start, .pocket-stop, .cutscene-rainbow {
        width: 100vw;
    }
    .announcement {
        padding-left: 18pt;
        padding-right: 12pt;
    }
    .nelson, .chat {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
}

body {
    background-color: #202225;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discord {
    background-color: #424549;
    overflow: hidden;
    padding-top: 30pt;
    padding-bottom: 10pt;
}
.cutscene {
/*     background-color: #dedeff; */
    background-color: #eee;
    overflow: hidden;
    padding-top: 10pt;
    padding-bottom: 30pt;
}
.pocket {
    background-color: #202225;
    overflow: hidden;
    padding-top: 10pt;
    padding-bottom: 30pt;
}
.rainbow {
    background-image: url('./2ex/images/rainbow.png');
    background-size: cover;
    overflow: hidden;
    padding-top: 10pt;
    padding-bottom: 30pt;
    height: 100em;
}
.cutscene-background-start, .cutscene-start {
    background: linear-gradient(to bottom, #424549, #eee);
    height: 5em;
}
.cutscene-background-stop, .cutscene-stop {
    background: linear-gradient(to top, #424549, #eee);
    height: 5em;
}
.pocket-start {
    background: linear-gradient(to bottom, #424549, #202225);
    height: 5em;
}
.pocket-stop {
    background: linear-gradient(to top, #424549, #202225);
    height: 5em;
}
.cutscene-rainbow {
    background: linear-gradient(to bottom, #eee, 90em, transparent), url('./2ex/images/rainbow.png');
    background-size: 100% 100%;
    height: 300em;
}

div .announcement.break {
    overflow: hidden;
}

p, li {
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #dcddde;
    list-style-type: circle;
    font-size: 12pt;
    margin: 0;
}

a {
    font-family: "Arial";
    color: #dcddde;
}

img {
    width: 100%;
}

h1 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 20pt;
    margin-bottom: 18pt;
    padding-top: 50pt;
}
h2 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 16pt;
    margin-top: 18pt;
    margin-bottom: 6pt;
}
h3 {
    font-family: "Arial";
    color: #dcddde;
    font-size: 14pt;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 0pt;
}


.much {
    margin-bottom: 10em;
}
.very {
    margin-bottom: 3em;
}
.text {
    margin-bottom: 1.5em;
}
.lite {
    margin-bottom: 0.5em;
}
.liter {
    margin-bottom: 0em;
}
.prism, .pr1sm {
    font-style: italic;
    color: #fff;
    font-size: 13pt;
}
.prismer {
    font-style: italic;
    color: white;
    font-size: 14pt;
    display: inline-block;
    transform: skew(-5deg);
    background-image: url('./2ex/images/rainbow.png');
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.prismest {
    font-style: italic;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    font-size: 16pt;
    display: inline-block;
    transform: skew(-10deg);
    background-image: url('./2ex/images/rainbow.png');
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}
.white {
    color: #fff;
}
.ryan {
    color: #00aff4
}
.scene {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
}
.note {
    color: #babbbc;
}

.quote {
    color: #dcddde;
    margin-top: 1em;
    border-left: 2px solid #dcddde;
    padding-left: 5px;
}
.vs {
    padding-left: 4em;
}
.break {
    white-space: nowrap;
    text-overflow: clip;
}
.announce {
    color: #dcddde;
    font-family: monospace;
    font-size: 10pt;
    line-height: 1.15;
    text-align: left;
}
.announcement {
    background: #2f3136;
    border: 3px solid #282b30;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nelsonimg {
    max-width: 73px;
}
.nelson, .chat {
    background-color: #36393e;
    border: 3px solid #282b30;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: -7%;
    margin-right: -7%;

    display: grid;
    margin-bottom: 1.5em;
}
.nelson p, .chat p {
    word-break: break-word;
    overflow-wrap: break-word;
}
.nelson {
    grid-template-columns: 90pt auto;
}
.chat {
    grid-template-columns: 36pt auto;
}

.parts {
    margin-top: 6em;
    text-align: center;
}
.parts-word {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.parts-nums {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.nagit {
    background: linear-gradient(to right, transparent, 30%, black);
    display: inline-block;
    transform: skew(-7deg);
    padding-right: 0.5em;
}
.nagit1 {
    color: rgba(220,221,222,1);
}
.nagit2 {
    color: rgba(220,221,222,0.4);
}
.nagit3 {
    color: rgba(220,221,222,0.2);
}
.nagit4 {
    color: rgba(220,221,222,0.1);
}
.nagit5 {
    color: rgba(220,221,222,0.05);
}
.nagit6 {
    color: rgba(220,221,222,0);
}
.nagito {
    color: rgba(0,0,0,0);
    background-color: black;
    display: inline-block;
    transform: skew(-7deg);
}
.unskew {
    transform: skew(7deg);
    display: inline-block;
}

.danirage {
    font-size: 15pt;
    color: #eccccd;
}
.twistgod {
    color: #AA8ED6;
    font-size: 14pt;
    font-weight: bold;
}
.chartreuse {
/*     color: #78B159; */
    color: #80ff00;
    font-size: 15pt;
}
.peppermint {
    color: #00ff80;
    font-size: 15pt;
}


.cutscene p, .cutscene a {
    color: #0a0027;
}
.cutscene .announce {
    color: #dcddde;
}
.cutscene .announcement .prism, .cutscene .announcement .white {
    color: white;
}
.cutscene .prism, .cutscene .prismer, .cutscene .prismest, .cutscene .white {
    background-image: url('./2ex/images/rainbow.png');
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.cutscene .note {
    color: #666666
}
.cutscene .nelson {
    background-color: #424549;
}
.cutscene .nelson p {
    color: #dcddde;
}
.cutscene .ryan {
    color: #1155cc;
}
